html{
    background-color: #202124;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    --black: #202124;
    --gray: #303134;
    --white: #e2e2e3;
    --font-footer: #999da2;
    --gray-border: #5f6368;
    --black-footer:#171717;
    --sm: 13px;
    --md: 14px;
    --lg: 15px;
}
.footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--black-footer);
    color: var(--font-footer);
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 0;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--gray-border);
    padding: 15px 30px;
}
.footer-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 46px;
}
    .footer-bottom-left{
        display: flex;  
        align-items: center;
        padding-left: 15px;
    }
   .footer-bottom-left a{
        text-decoration: none;
        padding: 15px 15px;
        color: var(--font-footer);
        font-size: var(--md);
    
    }
    .footer-bottom-rigth{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
        .footer-bottom-rigth a{
            margin-right: 50px;
            text-decoration: none;
            font-size: var(--md);
            color: var(--font-footer);
        }
        .footer-bottom-rigth a:hover, .footer-bottom-left a:hover{
            text-decoration: underline 1px solid;
        }