html{
    background-color: #202124;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    --black: #202124;
    --gray: #303134;
    --white: #e2e2e3;
    --sm: 13px;
    --md: 14px;
    --lg: 15px;
    --gray-border: #5f6368;
}
.main-container{
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    justify-content: center;
    gap: 18px;
}
    .main-container .google-image{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }
        .main-container .google-image img{
            width: 500px;
            height: 200px;
        }

.search-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 40px;
    border: 1px solid var(--gray);
    border-radius: 20px;
    gap: 5px;
}
    .search-menu .search-icon{
        width: 20px;
        height: 20px;
    }
    .search-menu input{
        height: 38px;
        width: 85%;
        color: var(--white);
        font-size: var(--md);
        border-style: none;
        outline: none;
        background-color: var(--black);
    }
    .search-menu .micro-icon{
        width: 24px;
        height: 24px;
    }
    .search-menu:hover, .search-menu input:hover{
        background-color: var(--gray);
    }
    /*!!!---Falta un evento JS, que cuando el usuario active el input, cambie la totalidad del background-color del input---!!!*/
    .search-menu:focus, .search-menu input:focus{
        background-color: var(--gray);
    }
.button-menu{
    display: flex;
    justify-content: center;
    gap: 12px

}
    .button-menu button{
        width: 150px;
        height: 36px;
        color: var(--white);
        border: 0;
        border-radius: 5px;
        background-color: var(--gray);
    }
        .button-menu button:hover{
            border: 1px solid var(--gray-border);
        }