html{
    background-color: #202124;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    --black: #202124;
    --gray: #303134;
    --white: #e2e2e3;
    --font-footer: #999da2;
    --gray-border: #5f6368;
    --black-footer:#171717;
    --backg-pref-menu: #202124;
    --sm: 13px;
    --md: 14px;
    --lg: 15px;
}
.preference-menu{
    width: auto;
    height: auto;
    color: var(--font-footer);
    position: absolute;
    bottom: 20px;
    right: 10px;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--backg-pref-menu);
    box-shadow: 0px 0px 5px 2px var(--black-footer);
    padding: 5px 0px;
}
    .preference-menu .preference-top-menu{
        border-bottom: 1px solid var(--gray-border);
    }
    .preference-menu .preference-top-menu div{
        width: 170px;
        height: auto;
        font-size: var(--sm);
        padding: 0px 16px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .preference-menu .preference-top-menu div:hover{
        background-color: var(--gray);
    }
.preference-menu .preference-bottom-menu div{
    width: 170px;
    height: auto;
    font-size: var(--sm);
    padding: 10px 16px;
}
    .preference-menu .preference-bottom-menu div:hover{
        background-color: var(--gray);
    }
    
